<link rel="stylesheet" href="/css/footer.css">


<footer>
    <div class="f-info-2">
         <div class="support">
            <h5>Support</h5>
            <p>Help Centre</p>
            <p>AirCover</p>
            <p>Anti-descrimination</p>
            <p>Disability support</p>
            <p>Cancellation option</p>
         </div>
         <div class="Hosting">
            <h5>Hosting</h5>
            <p>Airbnb your home</p>
            <p>Aircover for host</p>
            <p>Hosting resources</p>
            <p>Community Forum</p>
            <p>Hosting resposibily</p>
         </div>
         <div class="Airbnbs">
            <h5>Airbnb</h5>
            <p>Newsroom</p>
            <p>New features</p>
            <p>Careers</p>
            <p>Investors</p>
            <p>Airbnb org.</p>
         </div>
         <div class="About">
            <h5>About</h5>
            <p>Accessibilty</p>
            <p>Trust & Sefety</p>
            <p>Airbnb citizen</p>
            <p>Airbnb for work</p>
            <p>Help</p>
         </div>
    </div>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="fa-info-brand">
            &copy; Airbnb Privet Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>